<!doctype html>
<html class="no-js">
    <head>
        {{! Document Settings }}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {{! Page Meta }}
        <title>{{@blog.title}}</title>
        <meta name="description" content="{{@blog.description}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link rel="stylesheet" href="{{asset "css/styles.css"}}">
        <link rel="stylesheet" href="{{asset "css/font-awesome.min.css"}}">
        {{ghost_head}}
        <script src="http://upcdn.b0.upaiyun.com/libs/modernizr/modernizr-2.7.1.min.js"></script>
    </head>
<body>
<img class="plane" src="{{asset "img/paper.svg"}}">
<div class="lateral">
          <aside class="author">
            
            <img class="profile-image" src="{{@blog.logo}}" alt="" />
            <p class="name"> <strong>wmltogether</strong></p>
            <p class="about">关于</p>
            <p class="link"><a href="http://mooglestudio.me" title="Site Link">Moogle Studio</a></p>

            <ul class="social">
              <li><a class="fa fa-weibo fa-fw" href="http://weibo.com/wmltogether" target="_blank" title="Weibo"></a></li>
              <li><a class="fa fa-github-alt fa-fw" href="https://github.com/wmltogether" target="_blank" title="在GITHUB关注我"></a></li>
            </ul>

          </aside>
</div>
    <div class="{{body_class}} home">
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header class="site-header">
         
          <h2><a class="logo ir" href="{{@blog.url}}" title="{{@blog.title}}">{{@blog.title}}</a></h2>
        </header>
       
       
           {{{body}}}
        

        <footer class="main-footer">
          <div class="container clearfix">
           
              <a class="icon-rss" href="{{@blog.url}}/rss/" title="RSS Feed"></a>
              <p>All content copyright <a href="http://github.com/wmltogether" title="wmltogether的github">wmltogether</a> &copy; 2017. All rights reserved.</p>
          </div>
        </footer>



        {{ghost_foot}}


        <script src="//upcdn.b0.upaiyun.com/libs/jquery/jquery-1.10.2.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{asset "js/vendor/jquery-1.11.0.min.js"}}"><\/script>')</script>
        <script src="{{asset "js/plugins.js"}}"></script>
        <script src="{{asset "js/main.js"}}"></script>
 	</div>
    </body>
</html>
